.form-area {
    margin: 24px 0;
}

.form-label {
    display: block;
    margin-bottom: 8px;

}

.form-select {
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 20px;
}

.form-label,
.form-select {
    font-size: 24px;
}